<!-- <p>delete works!</p>
<div  style="width: 30rem;" style="float: center;">
    <div class="card-body">
        <button class="btn btn-info btn-lg" type="button">
            <span class="glyphicon glyphicon-trash"></span> Trash
        </button>
    </div>
   
    <div *ngFor="let item of datatrash">
        <div class="card">
        <h5 class="card-title">{{item.name}}</h5>
        <h5 class="card-title">{{item.phonenum}}</h5>
        <h5 class="card-title">{{item.emailid}}</h5>
    </div></div>
</div>  -->

<div class="row">
    <div class="col-md-4" *ngFor="let item of datatrash">
        <div class="card" style="width: 18rem;" style="padding:10; margin-bottom: 10px;">
            <div class="card-body">
                <button style="font-size:19px; color:green; float:right;" (click)="SendItemsFromTrash(item)" >
                    <i class="fa fa-trash-o"></i></button>
                    <button style="font-size:19px; color:red; float:right;" (click)="permenentelydelete(item)" >
                        <i class="fa fa-trash-o"></i></button>
                        <p>    </p>
                 <h5 class="card-title">Name :</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.name}}</h6>
                <h5 class="card-title">Mobile Number :</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.phonenum}}</h6>
                <h5 class="card-title">Email Id :</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{item.emailid}}</h6>
               
              
            </div>
        </div>
    </div>
</div>